body {
    margin: 0;
    height: 100vh;
    background-image: url(backgroundimage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .logindiv {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .loginform {
    border: solid 2px red;
    font-family: Arial, sans-serif;
  }

  .logintable {
    color: blue;
    margin: auto;
    height: 230px;
    text-align: center;
  }

  .login-btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
  }

  .login-btn:hover {
    background: linear-gradient(45deg, #ff6a00, #ee0979);

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .reset-btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
  }

  .reset-btn:hover {
    background: linear-gradient(45deg, #ff6a00, #ee0979);

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .login-btn,
  .reset-btn {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 20px;
  }